p {
  color: #ff0000:
}
body {
  background-color: grey;
}

h1 {
  color: white;
}
footer {
  color: blue;
}
ul {
  text-align: center;
}
  h2 {
    text-align: center;
}
h1 {text-align: center;
}

ul {font-size: large
}

footer {font-size: large
}

ul {
  font-family: Arial;
